h1, h2, h3, h4, h5, p {
  font-family: 'Cormorant', serif;
  color: aqua;

}

h5{
  color: rgb(255,0,240) !important;
  text-decoration-color: rgb(255,0,240) !important;
}

body {
  background-color: rgb(150, 150, 150)!important;
  padding: 0;
}

a {
  font-style: italic;
}

a:hover {
  font-style: normal;
  text-decoration: line-through;
  text-decoration-color: white !important;
}

#back {
  position: fixed;
  left: 2em;
  bottom: 2em;
}


#myCanvas{
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#txt{
  position: fixed;
  right: 10%;
  bottom: 20%;
}
