h1, h2, h3, h4, h5, p {
  font-family: 'Cormorant', serif;
  color: aqua;
}

h5 {
  color: rgb(255, 0, 240) !important;
  text-decoration-color: rgb(255, 0, 240) !important;
}

body {
  background-color: rgb(150, 150, 150) !important;
  padding: 0;
}

a {
  font-style: italic;
}

a:hover {
  font-style: normal;
  text-decoration: line-through;
  text-decoration-color: white !important;
}

#back {
  position: fixed;
  left: 2em;
  bottom: 2em;
}

#myContainer {
  padding-top: 10%;
  margin: auto;
}

#txt {
  width: 50%;
  text-align: center;
  /* position: fixed;
  right: 4em; */
  padding-top: 2em;
  margin: auto;
  /* bottom: 10%; */
  z-index: 1;
}
