h1, h2, h3, h4, h5, p {
  font-family: 'Cormorant', serif;
  color: red;

}

h5{
  color: rgb(255,0,240) !important;
  text-decoration-color: rgb(255,0,240) !important;
}

body {
  background-color: black !important;
  padding: 0;
}

a {
  font-style: italic;
}

a:hover {
  font-style: normal;
  text-decoration: line-through;
  text-decoration-color: white !important;
}

#back {
  position: fixed;
  left: 2em;
  bottom: 2em;
}


#myContainer{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#txt{
  position: fixed;
  right: 10%;
  bottom: 10%;
}
