h1, h2, h3, h4, h5, p {
  font-family: 'Cormorant', serif;
  color: aqua;

}

h5{
  color: rgb(255,0,240) !important;
  text-decoration-color: rgb(255,0,240) !important;
}

body {
  background-color: black !important;
  padding: 5em;
}

a {
  font-style: italic;
}

a:hover {
  font-style: normal;
  text-decoration: line-through;
  text-decoration-color: white !important;
}

#back {
  position: fixed;
  left: 2em;
  bottom: 2em;
}


#myContainer{
  position: fixed;
  top: 0;
  right: 0;
}

#txt{
  position: fixed;
  left: 5em;
  bottom: 5em;
}
